body {
  background-color: #fcfcfc;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 780px;
  min-width: 300px;
  padding: 10px;
  position: relative;
  text-align: center;
}

a {
  color: #28abc7;
  font-size: 1.5rem;
  text-decoration: none;
}

h1, h2, p, li, a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

.credits {
  margin-top: 20px;
}

.slogan {
  color: #ff17aa;
  font-size: 1.7rem;
  line-height: 1rem;
}

h1 {
  font-size: 3.5rem;
  line-height: 0.9rem;
}

ul {
  list-style-type: none;
  padding: 20px 0 0;
}

li a {
  font-size: 2.8rem;
}

img {
  display: inline-block;
  max-width: 600px;
  width: 100%;
}

/* annotations */

.art {
  display: inline-block;
  width: 100%;
  max-width: 600px;
  position: relative;
}

.art > aside {
  display: none;
}

.art:hover > aside {
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  display: block;
  font-size: 1.8rem;
  overflow: hidden;
  color: rgba(0,0,0,0.0);
  left: 0;
  padding: 5px;
  position: absolute;
  right: 0;
  width: auto !important;
  height: auto !important;
  color: inherit;
}

@media only screen and (max-width: 460px) {
  .art:hover > aside {
    font-size: 1.2rem;
  }
}
