body {
  background-color: #fcfcfc;
  margin: 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 780px;
  min-width: 300px;
  padding: 10px;
  text-align: center;
}

a {
  color: #28abc7;
  font-size: 1.5rem;
  text-decoration: none;
}

h1, p, li, a {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
}

h1 {
  font-size: 3.5rem;
}

ul {
  list-style-type: none;
  padding: 0;
}

li a {
  font-size: 2.8rem;
}

img {
  width: 100%;
}
